<h1><font color=blue><b>POKEMONES</b></font></h1>

<div>Buscar por nombre: <input class="form-control" style="width:200px" ng-model="buscar" type="text"  >
</div> 
<div>Buscar por tipo: 
 <select class="form-control"  style="width:300px"
           ng-model="tipo"  ng-change="mostrarpokemon(tipo)"
		   ng-options="item.url.split('/')[6] as item.name for item in tipos">
           <option value=""> ---Seleccione---</option>
 </select>
</div> 

</p>

<table class="table" border="1" bgcolor="red"  >
	<thead> 
		<tr>  
		<td style="color:#ff0000"><b>ID</b></td>
		<td style="color:#ff0000"><b>NOMBRE DE POKEMON<b></td>
		<td style="color:#ff0000"><b>URL<b></td>
		<td style="color:#ff0000"><b>ACCIONES</b></td>  
		</tr>
		
		<tr ng-repeat="poke in pokemones | filter:buscar">
			<td><b>{{$index + 1}}</b></td>
			<td><b>{{poke.name}}</b></td>
			<td><b>{{poke.url}}</b></td>
			<td><a href="#/detallepokemon/{{ poke.url.split('/')[6] }}">Ver Detalle</a></td>
		</tr>
	</thead>
	<tbody>

</table>


